storeFile=../../ibacio-tier2-upload.keystore
storePassword=YOUR_STORE_PASSWORD
keyAlias=ibacio-tier2
keyPassword=YOUR_KEY_PASSWORD #Python@143

storeFile=../../ibacio-tier2-upload.keystore
storePassword=Python@143
keyAlias=ibacio-tier2
keyPassword=Python@143